<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 - Forbidden Access</title>
    <link rel="stylesheet" href="css/403.css">
    <link rel="stylesheet" href="../css/403.css">
    <link rel="stylesheet" href="../../css/403.css">
</head>

<body>
    <div class="container">
        <img src="https://media.giphy.com/media/MBpxPd5ksEFgA/giphy.gif" alt="Oops" />
        <h1>403 - Forbidden Access</h1>
        <p>Hey there, unauthorized buddy! You've stumbled upon the forbidden zone!</p>
        <p>Seems like you're not a cool cat with admin privileges. Meow!</p>
        <p>Sorry, no catnip for you here!</p>
        <a href="/languages" class="button">Go Back</a>
        <div class="cat-image">
            <img src="https://cataas.com/cat/gif" alt="Random Cat 1" />
        </div>
    </div>
</body>

</html>
