<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us - CodeVerse Hub!</title>
  <link href="css/tailwind.css" rel="stylesheet">
  <link href="css/contact.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js" defer></script>
</head>
<body>
    <%- include("partials/nav") %>
  <header>
    <h1>Contact Us - CodeVerse Hub!</h1>
    <img src="assets/images/contactPage.webp" alt="Silly Contact Image" width="300">
  </header>
  <div class="container">
    <section class="section">
      <h2>Hey there, Coders!</h2>
      <p>Need to reach out to us? You're in luck! We've got the most advanced, state-of-the-art, ultra-sophisticated contact system in the galaxy... or so we'd like to think!</p>
      <p>Unfortunately, our communication devices are currently being debugged by our resident space monkeys, so you might experience some cosmic interference. But fear not! We're always here in spirit, sending you good vibes and coding blessings!</p>
    </section>

    <section class="section">
      <h2>How to Reach Us (or not)</h2>
      <p>1. Send a carrier pigeon equipped with a USB stick containing your message. Please make sure the pigeon is certified in HTML and CSS.</p>
      <p>2. Telepathically transmit your message to our cosmic coders. They're experts in decoding brainwaves... probably.</p>
      <p>3. Simply shout "Hello, CodeVerse Hub!" into the vast void of space. We might just hear you... or not.</p>
    </section>
  </div>
  
  <%- include("partials/footer") %>
