<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to CodeVerse Hub!</title>
  <link href="css/tailwind.css" rel="stylesheet">
  <link href="css/intro.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js" defer></script>
</head>
<body>
    <%- include("partials/nav") %>
  <header>
    <h1>Welcome to CodeVerse Hub!</h1>
    <img src="https://images.unsplash.com/photo-1504639725590-34d0984388bd?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Intro Image" width="300">
  </header>

  <div class="container">
    <section class="section">
      <h2>Hey Coders, Welcome to Our Universe of Code!</h2>
      <p>Buckle up your code belts, folks! At CodeVerse Hub, we're not just another hub; we're the mothership of all things code-tastic! Prepare for a journey through the stars of coding languages and libraries where the only limit is your imagination (and maybe a missing semicolon or two)!</p>
    </section>

    <section class="section">
      <h2>Why Choose CodeVerse Hub?</h2>
      <ul>
        <li><strong>Coding Constellations:</strong> Explore our galaxy of coding languages, each shining bright like a coding star waiting to be discovered!</li>
        <li><strong>Sweet Coding Embrace:</strong> Dive into our warm and fuzzy coding community where bugs are cute little features in disguise!</li>
        <li><strong>Coder's Delight:</strong> From coding connoisseurs to newbie astronauts, our hub is the perfect launchpad for your coding adventures!</li>
      </ul>
    </section>

    <section class="section">
      <h2>Coder Testimonials</h2>
      <blockquote>
        <p>"CodeVerse Hub is my cozy coding nook in the vast universe of the internet. It's like a warm cup of cocoa on a cold coding night!"</p>
        <footer>- Stella Script</footer>
      </blockquote>
      <blockquote>
        <p>"Thanks to CodeVerse Hub, I found my coding soulmates and the missing piece to my code puzzle. It's a love story written in binary!"</p>
        <footer>- Byte Belle</footer>
      </blockquote>
    </section>
  </div>

  <%- include("partials/footer") %>
