<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nice Try!</title>
    <link rel="stylesheet" href="css/niceTry.css">
    <link rel="stylesheet" href="../css/niceTry.css">
    <link rel="stylesheet" href="../../css/niceTry.css">
</head>
<body>
    <div class="container">
        <img src="https://media.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif" alt="Nice Try">
        <h1>Nice Try!</h1>
        <p>Looks like you tried to outsmart us, but we're onto you!</p>
        <p>Go ahead and try to fill out the form properly this time. We believe in you!</p>
        <a href="/register" class="back-link">Go back to register page</a>
    </div>
</body>
</html>
