<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Explore this API for an extensive overview of all programming languages and their associated libraries. Perfect for developers and researchers seeking comprehensive language resources.">
    <meta name="keywords" content="API, programming languages, libraries, code, development, software engineering">
    <meta name="author" content="DenGian">
    <title>Code Language and Library API Overview</title>
    <link href="css/tailwind.css"  rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js" defer></script>
</head>
<body class="flex flex-col min-h-screen">
